---
import BaseLayout from "../layouts/BaseLayout.astro";
import AllBacklinksForNote from "../components/AllBacklinksForNote.astro";

const { card } = Astro.props;
---

<BaseLayout>
  <h1>{card.data.title}</h1>
  <slot />
  <AllBacklinksForNote note={card} />
</BaseLayout>
